* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  background-color: rgb(255, 144, 110);
  width: 80%;
}

ul {
  padding: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
}

ul li a {
  text-decoration: none;
  color: white;
}

video {
  width: 250px;
  height: 250px;
}
